body{
    background-color: white;
    color: aliceblue;
    background-color: rgb(13, 3, 91);
}
span{
    font-style: oblique;
    border: 2px solid ;
    border-radius: 13px;
    background-color: rgb(13, 3, 91);
    padding-bottom: 2px;
    font-size: small;
    
}
h3{
    font-size: 37px;
    border: 2px solid gold;
}
p{
    font-size: x-large;
    color: solid white;
    border-radius: 13px;
    margin-left: 3px;
    margin-right: 3px;
}
b{
    font-size: 40px;
    margin: 13px;
}
img{
    border-radius: 23px;
}
a{
    font-size:x-large;
    background-color: rgb(13, 3, 91);
}
.az2{
    font-size: 40px;
    background-color:rgb(13, 3, 91) ;
    font-style: italic;
    padding-top: 3px;
}
div{
    margin: 13px;
    font-size: x-large;
}
.az1{
    margin: 13px;
}
h2{
    font-size: 20px;
}
.box{
    border: 2px solid white;
    border-radius: 13px;
    
}
.b1{
 font-size: xx-large;
}
